In [392]:
import numpy as np
import pandas as pd
import re

```
Load datasets:-

In [393]:
fake_data=pd.read_csv(r"D:\Fake And Real News predection\notebooks\data\Fake.csv")
true_data=pd.read_csv(r"D:\Fake And Real News predection\notebooks\data\True.csv")

In [394]:
fake_data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [395]:
true_data.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

```
Assign the labels:-

In [396]:
true_data["label"]=1

In [397]:
fake_data["label"]=0

In [398]:
true_data.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [399]:
fake_data.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

```
Concat both real and fake data:-

In [400]:
news=pd.concat([fake_data,true_data],axis=0)

```
Resuffling the data.:-

In [401]:
news=news.sample(frac=1)  # --------> Resuffling the data.
news.head()

,title,text,subject,date,label
13662,U.S. general backs Germany to host new NATO op...,BERLIN (Reuters) - Germany is best suited to h...,worldnews,"November 28, 2017",1
13259,BILL CLINTON STEPS IN IT: Accuses FBI Of Servi...,Oh boy! This is getting good! Bill Clinton is ...,politics,"Aug 13, 2016",0
1208,OOPS: Conservatives Lose BIGLY In UK Election...,Donald Trump s bigoted attack against London s...,News,"June 9, 2017",0
13457,China pushing billions into Iranian economy as...,ROME/ANKARA (Reuters) - China is financing bil...,worldnews,"November 30, 2017",1
8957,Abortion providers aim to reopen some closed T...,"AUSTIN, Texas (Reuters) - Abortion providers i...",politicsNews,"June 27, 2016",1

```
Reset the index:-

In [402]:

news.reset_index(inplace=True)
news.head()

,index,title,text,subject,date,label
0,13662,U.S. general backs Germany to host new NATO op...,BERLIN (Reuters) - Germany is best suited to h...,worldnews,"November 28, 2017",1
1,13259,BILL CLINTON STEPS IN IT: Accuses FBI Of Servi...,Oh boy! This is getting good! Bill Clinton is ...,politics,"Aug 13, 2016",0
2,1208,OOPS: Conservatives Lose BIGLY In UK Election...,Donald Trump s bigoted attack against London s...,News,"June 9, 2017",0
3,13457,China pushing billions into Iranian economy as...,ROME/ANKARA (Reuters) - China is financing bil...,worldnews,"November 30, 2017",1
4,8957,Abortion providers aim to reopen some closed T...,"AUSTIN, Texas (Reuters) - Abortion providers i...",politicsNews,"June 27, 2016",1

In [403]:
news=news.drop(["index"],axis=1)

In [404]:
news.head()

,title,text,subject,date,label
0,U.S. general backs Germany to host new NATO op...,BERLIN (Reuters) - Germany is best suited to h...,worldnews,"November 28, 2017",1
1,BILL CLINTON STEPS IN IT: Accuses FBI Of Servi...,Oh boy! This is getting good! Bill Clinton is ...,politics,"Aug 13, 2016",0
2,OOPS: Conservatives Lose BIGLY In UK Election...,Donald Trump s bigoted attack against London s...,News,"June 9, 2017",0
3,China pushing billions into Iranian economy as...,ROME/ANKARA (Reuters) - China is financing bil...,worldnews,"November 30, 2017",1
4,Abortion providers aim to reopen some closed T...,"AUSTIN, Texas (Reuters) - Abortion providers i...",politicsNews,"June 27, 2016",1

In [405]:
news.drop(["title","subject","date"],axis=1,inplace=True)

In [406]:
news.head()

                                                text  label
0  BERLIN (Reuters) - Germany is best suited to h...      1
1  Oh boy! This is getting good! Bill Clinton is ...      0
2  Donald Trump s bigoted attack against London s...      0
3  ROME/ANKARA (Reuters) - China is financing bil...      1
4  AUSTIN, Texas (Reuters) - Abortion providers i...      1

In [407]:
x=news["text"] 
y=news["label"]

```
Devide into train test split:-

In [408]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.20,random_state =128)

In [409]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((35918,), (35918,), (8980,), (8980,))

In [410]:
def wordopt(text):
    # convert into lowercase.
    text=text.lower()
    
    # Remove URl
    text=re.sub(r"https?://\S+www\.\s+", "", text)
    # Remove HTML tag
    
    text=re.sub(r"<.*?>","",text)
    # Remove punctuation
    text=re.sub(r"[^\w\s]","",text)
   
    # Remove digits
    text=re.sub(r"\d","",text)
    
    # remove newline charector
    text=re.sub(r"\n"," ",text)
    
    return text

In [411]:
news["text"]=news["text"].apply(wordopt)

In [412]:
news.head()

                                                text  label
0  berlin reuters  germany is best suited to host...      1
1  oh boy this is getting good bill clinton is no...      0
2  donald trump s bigoted attack against london s...      0
3  romeankara reuters  china is financing billion...      1
4  austin texas reuters  abortion providers in te...      1

```
Convert into vector by using Tf-Idf method

In [413]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector=TfidfVectorizer(lowercase=True,stop_words="english")

In [414]:
X_train=vector.fit_transform(x_train)
X_test=vector.transform(x_test)

```
Model Training:-

In [415]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [416]:
model1=MultinomialNB(alpha=0.1)
model2=LogisticRegression()
model3=DecisionTreeClassifier()
model3=RandomForestClassifier(n_estimators=10)
models=[model1,model2,model3]

In [417]:
def best_model(models):
    for i in models:
        print(i.fit(X_train,y_train))
        y_pred=i.predict(X_test)
        print("Accuracy Score:-",accuracy_score(y_test,y_pred)) 
        print("----------------------------------------------------------\n")
        print("Classification Report :-\n",classification_report(y_test,y_pred))   
        print("----------------------------------------------------------\n")
        print("Confusion matris:- \n",confusion_matrix(y_test,y_pred))   
        print("________________________________________________________________________________\n")

In [418]:
best_model(models)

MultinomialNB(alpha=0.1)
Accuracy Score:- 0.9461024498886415
----------------------------------------------------------

Classification Report :-
               precision    recall  f1-score   support

           0       0.95      0.95      0.95      4655
           1       0.95      0.94      0.94      4325

    accuracy                           0.95      8980
   macro avg       0.95      0.95      0.95      8980
weighted avg       0.95      0.95      0.95      8980

----------------------------------------------------------

Confusion matris:-
 [[4426  229]
 [ 255 4070]]
________________________________________________________________________________

LogisticRegression()
Accuracy Score:- 0.9879732739420936
----------------------------------------------------------

Classification Report :-
               precision    recall  f1-score   support

           0       0.99      0.99      0.99      4655
           1       0.99      0.99      0.99      4325

    accuracy                           0.99      8980
   macro avg       0.99      0.99      0.99      8980
weighted avg       0.99      0.99      0.99      8980

----------------------------------------------------------

Confusion matris:-
 [[4591   64]
 [  44 4281]]
________________________________________________________________________________

RandomForestClassifier(n_estimators=10)
Accuracy Score:- 0.9721603563474388
----------------------------------------------------------

Classification Report :-
               precision    recall  f1-score   support

           0       0.96      0.99      0.97      4655
           1       0.98      0.96      0.97      4325

    accuracy                           0.97      8980
   macro avg       0.97      0.97      0.97      8980
weighted avg       0.97      0.97      0.97      8980

----------------------------------------------------------

Confusion matris:-
 [[4591   64]
 [ 186 4139]]
________________________________________________________________________________

In [419]:
y_prediction=model1.predict(X_test[1])[0]
y_prediction

0

#### Predection method:-

In [420]:
def outputlabel(n):
    if n==0:
        print("This is Fake News")
    elif n==1:
        print("This is Real News")

In [421]:
outputlabel(y_prediction)

This is Fake News

```
Model Testing:-

In [422]:
def manual_testing(news):
    testing_news={"text":[news]} # Corrcted syntax for definging dictionary
    new_def_test=pd.DataFrame(testing_news)
    
    # new_def_test["text"]=new_def_test["text"].apply(wordopt)
    new_x_test=new_def_test["text"]
    new_xv_test=vector.transform(new_x_test) #Assume vector is your vectorizer object.
    predection1=model1.predict(new_xv_test)[0]
    # predection2=model2.predict(new_xv_test)[0]
    # predection3=model3.predict(new_xv_test)[0]
    # predection4=model4.predict(new_xv_test)[0]
    
    return (predection1)

In [427]:
x_test.head()

6237     BEIJING (Reuters) - Chinese President Xi Jinpi...
20565    Donald Trump is now obsessed with attacking th...
25014     Farmers and ranchers are being run off their ...
30109    About 14,000 Genesee County voters were mailed...
39380    Garret Wayman, a 17-year-old waiter in Wichita...
Name: text, dtype: object

In [431]:
x_test[6237]
y_test[6237]

1

In [429]:
news_artical=str(input())
news_artical

"BEIJING (Reuters) - Chinese President Xi Jinping said on Thursday China will be more open and transparent to foreign companies, including those from the United States.  U.S. companies are also welcome to take part in China’s Belt and Road initiative, Xi told a briefing in Beijing after talks with U.S. President Donald Trump. China’s door to the world will only open wider, he said. '"

In [432]:
print("Predect value:- ",manual_testing(news_artical))

Predect value:-  1